<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>{% block title %}RecipeGo{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% if request.path != '/' and request.path != '/login/' %}
    <nav>
        <ul>
            <li><a href="{% url 'recipes:recipe_details' %}">Home</a></li>
            <li><a href="{% url 'recipes:search' %}">Search</a></li>
            <li><a href="{% url 'recipes:add_recipe' %}">Add Recipe</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </nav>
    {% endif %}

    {% block content %}
    {% endblock %}
</body>
</html>