<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>
            Recipes Home
        </title>
        <link rel = 'stylesheet' href = "{% static 'css/home.css' %}">
    </head>
   
   <body>
        <div class="centered">
            <div>
                <h2>
                    RecipeGo
                </h2>
            </div>
            <div>
                <a href="{% url 'login' %}">
                    Log in
                </a>
            </div>
        </div>
   </body>
</html>