{% extends 'base.html' %}
{% load static %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/recipe_indiv.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="side-column"></div>

    <div class="main-content">
        <h1>{{ recipe.name }}</h1>
        <img src="{{ recipe.pic.url }}" alt="{{ recipe.name }}">
        <p><strong>Cooking time:</strong> {{ recipe.cooking_time }} minutes</p>
        <p><strong>Difficulty:</strong> {{ recipe.difficulty }}</p>
        <p><strong>Ingredients:</strong> {{ recipe.ingredients }}</p>
        <p><strong>Description:</strong> {{ recipe.description }}</p>

        <a href="{% url 'recipes:recipe_details' %}" class="back-link">← Back to all recipes</a>
        <a href ="{%url 'logout' %}"> Logout </a>
    </div>

    <div class="side-column"></div>
</div>
{% endblock %}