{% extends 'base.html' %}
{% load static %}

{% block title %}Recipe Details{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock %}

{% block content %}
<div class = "container">
    <div class = "side-column"></div>

    <div class = "main-content">
        <h2> Search for recipes! </h2>

        <hr>
        <form action="" method="POST">
        {% csrf_token %}
        {{form}}
        <button type="submit">search</button>

        <br>
        {% if recipe_df %}
            {{recipe_df|safe}} 
            
            <br>
            <img src="data:image/png;base64, {{chart|safe}}">
        {% else %}
            <h3> no data</h3>
        {% endif %}

        </form>
    </div>

    <div class = side-column></div>
</div>
{% endblock %}